In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('owid-covid-data.csv')
df.head()

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [7]:
df.describe()

,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand
count,11833.000000,11833.000000,11833.000000,11833.000000,11642.000000,11642.000000,11642.000000,11642.000000,2.502000e+03,2203.000000,2502.000000,2207.000000
mean,3330.670836,192.767515,187.944731,13.479591,210.771975,11.750346,7.879084,0.520533,8.420060e+04,5734.954153,4.488930,0.264903
std,23723.207365,1426.015070,1489.032223,111.743742,829.717868,69.832878,53.857512,3.830429,2.677867e+05,17609.857833,10.621547,0.549781
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,1.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.075500e+03,226.500000,0.087000,0.013000
50%,16.000000,1.000000,0.000000,0.000000,2.611000,0.038000,0.000000,0.000000,1.416700e+04,1139.000000,0.708500,0.068000
75%,262.000000,21.000000,4.000000,0.000000,61.833250,2.937750,0.449000,0.000000,5.500175e+04,4033.500000,4.366500,0.321000
max,735086.000000,35527.000000,38910.000000,4928.000000,13406.801000,4944.376000,1149.154000,176.793000,3.698534e+06,229268.000000,124.468000,7.243000